text {
  font: 30px Helvetica;
}

rect {
  fill-opacity: 0.5;
}

g:hover {
  fill: blue;
}


/*
svg {
  display: block;
  margin: auto;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.timeline {
  stroke: #fff;
}


g {
  fill-opacity: 0.5;
}

g.loaded {
  fill-opacity: 1.0;
}

path.segment {
  stroke-width: 1.5px;
}

.hover {
  fill: blue;
}

path.hover {
  stroke: blue;
  fill: none;
}

*/
