{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link href="{% static 'episodes/css/soundscapes.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}

  <h1>{{ show.name }}</h1>

  <div id="episodeList">
  </div>
{% endblock body %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'episodes/d3.js/d3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'episodes/d3.js/colorbrewer.js' %}"></script>
  <script type="text/javascript" src="{% static 'episodes/js/soundscapes.js' %}"></script>
  <script>
var globalVars = {};
d3.json("{% url 'json_episodes' show=show.pk %}", drawEpisodeList);
  </script>
{% endblock javascript %}
