{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
  <h1>
    <a href="{% url 'show_list' %}"><span class="glyphicon glyphicon-fast-backward"></span></a>
    <a href="{% url 'show_detail' slug=show.slug %}">{{ show.name }}</a></h1>
  <h2>{{ episode.title }}</h2>
{% endblock header %}

{% block nav %}
  {% crispy segment_form segment_form.helper %}
{% endblock nav %}

{% block main %}
  <ul id="id_segment_list" class="list-group">
    {% for segment in segments %}
      <li class="list-group-item">
        {{ segment.start_time}}:{{ segment.end_time }} {{ segment.tags }}
      </li>
    {% empty %}
      <li class="list-group-item">
        (no segments in episode)
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
