{% extends 'manager/base.html' %}

{% block header %}
  <h1><a href="{% url 'show_list' %}"><span class="glyphicon glyphicon-step-backward"></span></a> {{ show.name }}</h1>
{% endblock header %}

{% block nav %}
  <form action="{% url 'refresh' slug=show.slug %}" method="POST" class="navbar-form">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
       Refresh</button>
  </form>
{% endblock nav %}

{% block main %}
  <ul id="id_episode_list" class="list-group">
    {% for episode in episode_list %}
      <li class="list-group-item">
        <a href="{{ episode.get_absolute_url }}">{{ episode.title }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">
        (no episodes in feed)
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
