{% extends 'manager/base.html' %}

{% block body %}

  <ul class="nav nav-pills">
    <li role="presentation">
      <a class="btn btn-default" href="{% url 'show_create' %}" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         Add Show
      </a>
    </li>
  </ul>

  <h1>Shows</h1>

  <ul id="id_show_list" class="list-group">
    {% for show in show_list %}
      <li class="list-group-item">
        <a id="id_show_name" href="{{ show.get_absolute_url }}">{{ show.name }}</a>
      </li>
    {% endfor %}
  </ul>

  {{ block.super }}

{% endblock body %}
