{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soundscapes</title>
    <link href="{% static 'episodes/css/soundscapes.css' %}" rel="stylesheet">
  </head>
  <body>
    <svg>
    </svg>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'colorbrewer/colorbrewer.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'underscore/underscore.js' %}"></script>
    <script src="{% static 'backbone/backbone.js' %}"></script>
    <script src="{% static 'soundmanager2/script/soundmanager2.js' %}"></script>

    <script src="{% static 'episodes/js/models.js' %}"></script>
    <!-- <script src="{% static 'episodes/js/views.js' %}"></script> -->
    <script src="{% static 'episodes/js/bar.js' %}"></script>
    <script>
var episodeCollection = new EpisodeCollection;
episodeCollection.reset({{ episodes|safe }});

var barView = new BarView({collection: episodeCollection});
barView.render();

soundManager.setup({
  url: "{% static 'soundmanager2/swf' %}",
  flashVersion: 9,
  preferFlash: false,
  onready: function () {
    //bar.trigger("soundmanager:ready");
  },
  debugMode: false
});
    </script>
  </body>
</html>
