text {
  font: 26px Helvetica;
  fill-opacity: 0.8;
}

rect {
  fill-opacity: 0.5;
}

text:hover {
  fill-opacity: 1.0;
}

line.needle {
  stroke: black;
}

path.area {
  stroke: black;
  stroke-width: 0.2;
}
