text {
  font: 24px Helvetica;
}

g {
  fill-opacity: 0.5;
}

g.loaded {
  fill-opacity: 1.0;
}

path.segment {
  stroke-width: 1.5px;
}

.hover {
  fill: blue;
}

path.hover {
  stroke: blue;
  fill: none;
}
